<div class="card padding-default">
    <div class="header">
        <div class="title font-700 color-card">
            <p>{{profile.hour}}</p>
        </div>
        <div class="avatar-wraper">
            <div class="avatar" [ngStyle]="{'background-image':'url(' + profile.imageURL + ')'}"></div>
        </div>
    </div>
    <div class="body">
        <div class="titles align-center color-card">
            <p class="font-700">{{profile.name}}</p>
            <p class="font-300">{{profile.area}}</p>
            <p class="font-600">{{profile.contract}}</p>
        </div>
        <div class="slills color-card">
            <div class="skill font-600" *ngFor="let skill of profile.skills">{{skill.slice(0, 7)}}</div>
            <div class="btn font-600">+2</div>
        </div>
    </div>
    <div class="footer">
        <div class="align-center description">
            <p>{{profile.description}}</p>
        </div>
        <div class="align-center font-700 link">
            <a class="color-card" href="#">Ver perfil</a>
        </div>
    </div>
</div>
