@import '../../../../sass/variables';

.wraper-modal {
    background-color: $bg-3;
    width: 100%;
    top: -100%;
    position: fixed;
    transition: .4s linear;
    z-index: 10;
    -webkit-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    -moz-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    overflow-y: auto;

    .header {
        position: relative;
        top: 0px;
        z-index: 0;
        transition: 0.6s linear;
    }

    .header, .content, .footer {
        width: 100%;
        text-align: center;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 14px;
            color: $text-1;
        }

        p strong {
            color: $bg-1;
            font-weight: 800;
            font-size: 18px;
            padding-right: 10px;
        }
    }

    .content {
        padding: 0px 30px;
        background-image: none;
        display: block;

        .select-wraper {
            width: 100%;
            padding: 20px 0;
            position: relative;

            select {
                text-indent: 160px;
                font-weight: 600;
            }

            label {
                position: absolute;
                left: 0px;
                top: 50%;
                height: 51%;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                transform: translateY(-50%);
                font-size: 13px;
                padding: 12px 14px 10px 14px;
                background-image: linear-gradient(90deg, $bg-2, $bg-1);
                color: #ffffff;
                -webkit-box-shadow: -11px 3px 33px -17px rgba(0,0,0,0.55);
                -moz-box-shadow: -11px 3px 33px -17px rgba(0,0,0,0.55);
                box-shadow: -11px 3px 33px -17px rgba(0,0,0,0.55);
            }
        }

        p {
            font-weight: 800;
            font-size: 17px;
            color: $text-1;
            padding: 10px 0;
        }

        .btn-type {
            margin-top: 10px;
        }

        .buttons {
            width: 100%;
            justify-content: space-between;
            display: flex;
        }

        .box {
            position: relative;
            top: 0px;
            transition: .6s linear;

            .active-filter {
                color: #ffffff;
                background: $bg-1;
                border-color: $bg-1;
            }
        }
    }

    .footer {
        justify-content: space-between;
        padding: 20px 30px 7px 30px;
        background-color: $bg-3;
        -webkit-box-shadow: -1px -14px 26px -15px rgba(0,0,0,0.06);
        -moz-box-shadow: -1px -14px 26px -15px rgba(0,0,0,0.06);
        box-shadow: -1px -14px 26px -15px rgba(0,0,0,0.06);
        margin-top: 50px;
    }
}

.activeModalSearh {
    top: 0px;
}


