.menu-wraper {
    width: 100%;

    .content {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .menu {
            width: 300px;
        }
    }

    .header {
        width: 100%;
        position: fixed;
        z-index: 20;
        left: 0;
        top: 0;
    }
}