.header {
    width: 100%;
    padding: 20px 40px 20px 0px;
    -webkit-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    -moz-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: fixed;

    .btns {
        width: 140px;
        display: flex;
        justify-content: space-between;

        img {
            width: 20px;
            cursor: pointer;
        }
    }

    .logo-wraper {
        width: 300px;
        text-align: center;

        a {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            color: #000000;
        }

        a strong {
            font-weight: 800;
            font-size: 18px;
            color: #5f49ab;
        }
    }
}