<section class="wraper-modal" [ngClass]="{'activeModalSearh': openModal}" (click)="stopPropagations($event)">
    <div class="header">
        <p><strong>Faça sua busca por:</strong> Tipo de contarato, Nível de experiência ou Tamanho da empresa</p>
    </div>
    <div class="content">
        <div class="select-wraper box">
            <select class="btn select">
                <option value="selectprofile" *ngFor="let selectprofile of selectprofiles">{{selectprofile}}</option>
            </select>
        </div>
        <div class="buttons">
            <div class="box" *ngFor="let filter of filters">
                <p>{{filter.name}}</p>
                <ul>
                    <li (click)="filterSearch(filter, $event)" class="btn btn-type" *ngFor="let type of filter.types">{{type}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        <button (click)="closeModalSearch()" class="btn">fechar</button>
    </div>
</section>
