.wraper-modal {
    background: #ffffff;
    width: 100%;
    top: -400px;
    position: absolute;
    left: 0;
    transition: .3s linear;
    z-index: 10;
    -webkit-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    -moz-box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    box-shadow: 34px 9px 43px -16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .header {
        position: relative;
        top: -100px;
        z-index: 0;
        transition: .4s linear;
        
    }

    .header, .content, .footer {
        width: 100%;
        text-align: center;
        background-color: #fefff4;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 30px;

        p {
            font-size: 14px;
            color: #000000;
        }

        p strong {
            color: #5f49ab;
            font-weight: 800;
            font-size: 18px;
            padding-right: 10px;
        }
    }

    .content {
        padding: 50px 30px;
        height: 60%;
        background-color: #fefff4;
        background-image: none;
        display: block;

        .select-wraper {
            width: 100%;
            padding: 20px 0;
        }

        p {
            font-weight: 800;
            font-size: 17px;
            color: #000000;
            padding: 10px 0;
        }

        .btn-type {
            margin-top: 10px;
            background-image: none;
            color: #000000;
            border: 2px solid #000000;
            background-color: #fefff4;
        }

        .buttons {
            width: 100%;
            justify-content: space-between;
            display: flex;
        }

        .box {
            position: relative;
            top: -400px;
            transition: .4s linear;

            .active-filter {
                color: #ffffff;
                background: #5f49ab;
            }
        }
    }

    .footer {
        background-color: #fefff4;
        background-image: none;
        justify-content: flex-end;
        padding: 10px 30px;
    }
}

.activeModalSearh {
    top: 76px;

    .header {
        top: 0;
    }

    .content {
        .box {
            top: 0px;
        }
    }
}


