<div class="profile-wraper">
    <section class="profile-banner">
        <div class="card">
            <div class="profile-description">
                <div class="image">
                    <div class="avatar" [ngStyle]="{'background-image':'url(' + image + ')'}"></div>
                </div>
                <div class="description">
                    <h2 class="color-base-dark font-700">Cladia Daniela Cezar</h2>
                    <p class="color-base-dark">Front-End web developer</p>
                    <p class="color-base-dark font-700">Pleno</p>
                    <div class="btns">
                        <a [routerLink]="['']" class="color-base-dark btn-animation btn-outline">WhatsApp</a>
                        <a [routerLink]="['']" class="color-base-dark btn-animation btn-outline">E-mail</a>
                        <a [routerLink]="['']" class="color-base-dark btn-animation btn-outline">Currículo</a>
                    </div>
                </div>
            </div>

            <div class="avaliable">
                <div class="networks">
                    <a [routerLink]="['']" class="btn-animation network" *ngFor="let network of networks" [ngStyle]="{'background-image':'url(' + network.svg + ')'}"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="time-line">
        <h3 class="color-gray font-600">Perfil completo</h3>

        <div class="progress">
            <div class="box">
                <div class="line">
                    <p class="font-800">1</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Endereço</p>
                   <div class="step adress">
                        <p class="color-gray"><strong class="color-base-dark font-600">Rua</strong>José Osvaldo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Cidade</strong>Sao Paulo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Bairro</strong>Tucuruvi</p>
                   </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">2</p>
                </div>
                <div class="content">
                    <p class="color-base-dark font-700">Habilidades</p>
                    <div class="step skill">
                        <div class="skill-level bg-light radius-4">
                            <p class="color-base-dark font-600">Javascript</p>
                            <div class="radius-left-4 bg-base level" style="width: 30%"></div>
                        </div>
                    </div>

                    <div class="step skill">
                        <div class="radius-4 skill-level bg-light">
                            <p class="color-base-dark font-600">CSS</p>
                            <div class="radius-left-4 bg-base level" style="width: 70%"></div>
                        </div>
                    </div>

                    <div class="step skill">
                        <div class="radius-4 skill-level bg-light">
                            <p class="color-base-dark font-600">HTML5</p>
                            <div class="radius-left-4 bg-base level" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class="step skill">
                        <div class="radius-4 skill-level bg-light">
                            <p class="color-base-dark font-600">Bootstrap</p>
                            <div class="radius-left-4 bg-base level" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="step skill">
                        <div class="radius-4 skill-level bg-light">
                            <p class="radius-left-4 color-base-dark font-600">React</p>
                            <div class="bg-base level" style="width: 20%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">3</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Endereços</p>
                   <div class="step adress">
                        <p class="color-gray"><strong class="color-base-dark font-600">Rua</strong>José Osvaldo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Cidade</strong>Sao Paulo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Bairro</strong>Tucuruvi</p>
                   </div>
                </div>
            </div>
        </div>

    </section>
</div>
