.profile-wraper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 100px;
    padding: 10px 40px;

    .profile-banner {
        width: 100%;
        padding: 20px 0;
        
        .card {
            width: 100%;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            background: #fefff4;

            .profile-description {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 80%;

                .image {
                    .avatar {
                        width: 170px;
                        height: 170px;
                    }
                }

                .description {
                    padding-left: 20px;
                    line-height: 1.5;
                    width: 100%;

                    h2 {
                        font-size: 20px;
                        
                    }

                    p {
                        font-size: 14px;
                        
                    }

                    p:nth-of-type(2) {
                        padding-bottom: 10px;
                    }

                    .btns {
                        display: flex;
                        justify-content: flex-start;
                        
                        .btn, .btn-outline {	                   
                            margin-right: 20px;	                           
                        }	                        

                        .btn-outline {	
                            background: none;	
                        }
                    }
                }
            }

            .avaliable {
                display: flex;
                flex-direction: column;
                width: 20%;
                padding: 14px 0px;
                justify-content: flex-end;

                .networks {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .network {
                        width: 20px;
                        height: 20px;
                        margin: 0 4px;
                        cursor: pointer;
                        background-size: cover;
                        background-repeat: no-repeat;
                        transition: 0.2s linear;
                       
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .time-line {
        padding: 10px 0;

        h3 {
            font-size: 16px;
        }

        .progress {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px 25px;

            .box {
                width: 100%;
                display: flex;
                height: 100%;
                justify-content: flex-start;
                position: relative;

                .line {
                    background-color: #5f49ab;
                    width: 4px;
                    height: 100%;
                    position: absolute;

                    p {
                        color: #ffffff;
                        position: absolute;
                        top: 14px;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &::before {
                        content: "";
                        position: relative;
                        width: 50px;
                        height: 50px;
                        display: block;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 0;
                        border-radius: 100%;
                        background-image: linear-gradient(90deg, #9175f5, #5f49ab);
                    }
                }

                .content {
                    width: 100%;
                    padding-left: 60px;

                    & > p {
                        padding: 14px 0;
                        font-size: 18px;
                    }

                    .step {
                        padding: 10px 10px 10px 20px;
                        p {
                            line-height: 2;
                            font-size: 15px;

                            strong {
                                font-size: 16px;
                                padding-right: 10px;
                            }
                        }
                    }

                    .skills {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .skill {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        width: 100%;
                    
                        .skill-level {
                            width: 500px;
                            height: 35px;
                            position: relative;
                            display: flex;
                            align-items: center;
                          
                            p {
                                position: absolute;
                                left: 20px;
                                color: #ffffff;
                                font-size: 14px;
                            }

                            .level {
                                height: 100%;
                            }
                        }
                    }
                }
            }

            .box:last-child .line {
                &::after {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    display: block;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 0;
                    border-radius: 100%;
                    background-image: linear-gradient(90deg, #9175f5, #5f49ab);
                }
            }
        }
    }
}