<div class="profile-wraper">
    <section class="profile-banner">
        <div class="card">
            <div class="profile-description">
                <div class="image">
                    <div class="avatar" [ngStyle]="{'background-image':'url(' + image + ')'}"></div>
                </div>
                <div class="description">
                    <h2 class="color-base-dark font-700">Cladia Daniela Cezar</h2>
                    <p class="color-base-dark">Front-End web developer</p>
                    <p class="color-base-dark font-700">Pleno <strong>CLT</strong></p>
                    <div class="btns">
                        <a [routerLink]="['']" class="color-base-dark btn-outline">WhatsApp</a>
                        <a (mouseleave)="hideTooltip()" (mouseover)="displayTooltip();" class="color-base-dark btn-outline">
                            E-mail
                            <div class="tooltip radius-4" [class.visible]="visible">
                                <input class="font-800" id="email" *ngIf="!copy" type="text" value="helio.santosjunior@outlook.com">
                                <div *ngIf="!copy" class="copy" (click)="copyEmail()"></div>
                                <p class="font-600 align-center" *ngIf="copy">Copiado com sucesso!</p>
                            </div>
                        </a>
                        <a [routerLink]="['']" class="color-base-dark btn-outline">Currículo</a>
                    </div>
                </div>
            </div>

            <div class="avaliable" *ngIf="true">
                <div class="hour">
                    <p class="color-base-dark font-700">R$ 32/hr</p>
                </div>
                <div class="networks">
                    <a [routerLink]="['']" class="network" *ngFor="let network of networks" [ngStyle]="{'background-image':'url(' + network.svg + ')'}"></a>
                </div>
            </div>
        </div>
    </section>

    <section class="time-line">
        <h3 class="color-gray font-600">Perfil completo</h3>

        <div class="progress">
            <div class="box">
                <div class="line">
                    <p class="font-800">1</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Endereço</p>
                   <div class="step adress">
                        <p class="color-gray"><strong class="color-base-dark font-600">Rua</strong>José Osvaldo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Cidade</strong>Sao Paulo</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Bairro</strong>Tucuruvi</p>
                   </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">2</p>
                </div>
                <div class="content">
                    <p class="color-base-dark font-700">Habilidades</p>
                    <div class="step skill">
                        <div class="skill-level radius-4">
                            <p class="color-base-dark font-600">Javascript</p>
                            <div class="radius-left-4 bg-1 level" style="width: 30%"></div>
                        </div>
                    </div>

                    <div class="step skill">
                        <div class="radius-4 skill-level">
                            <p class="color-base-dark font-600">CSS</p>
                            <div class="radius-left-4 bg-1 level" style="width: 70%"></div>
                        </div>
                    </div>

                    <div class="step skill">
                        <div class="radius-4 skill-level">
                            <p class="color-base-dark font-600">HTML5</p>
                            <div class="radius-left-4 bg-1 level" style="width: 90%"></div>
                        </div>
                    </div>
                    <div class="step skill">
                        <div class="radius-4 skill-level">
                            <p class="color-base-dark font-600">Bootstrap</p>
                            <div class="radius-left-4 bg-1 level" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="step skill">
                        <div class="radius-4 skill-level">
                            <p class="radius-left-4 color-base-dark font-600">React</p>
                            <div class="bg-1 level" style="width: 20%"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">3</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Um pouco sobre mim</p>
                   <div class="step adress">
                        <p class="color-gray about">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia accusantium similique quisquam odit delectus eveniet illum necessitatibus minus officiis totam, repellat reiciendis maiores aliquid iste. Architecto placeat eligendi numquam? Necessitatibus?
                        </p>
                   </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">4</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Descrição</p>
                   <div class="step adress">
                        <p class="color-gray"><strong class="color-base-dark font-600">Formação</strong>Sistema para internet</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Idade</strong>20 anos</p>
                        <p class="color-gray"><strong class="color-base-dark font-600">Tipo de contrato</strong>CLT</p>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="line">
                    <p class="font-800">5</p>
                </div>
                <div class="content">
                   <p class="color-base-dark font-700">Experiência</p>
                    <div class="step adress">
                        <div class="experience">
                            <div class="title-experience">
                                <h4 class="color-base-dark font-700">Zup Innovation</h4>
                                <button class="btn-outline radius-4">presente</button>
                            </div>
                           <div class="skills">
                                <strong class="color-base-dark font-400">Skills</strong>
                                <div class="btn-skill">Angular JS</div>
                                <div class="btn-skill">Angular 2+</div>
                                <div class="btn-skill">CSS3</div>
                                <div class="btn-skill">HTML5</div>
                                <div class="btn-skill">Javascript</div>
                           </div>
                           <p class="color-gray"><strong class="color-base-dark font-400">Início</strong>10/10/2019</p>
                        </div>
                    </div>

                    <div class="step adress">
                        <div class="experience">
                            <div class="title-experience">
                                <h4 class="color-base-dark font-700">Isquik</h4>
                            </div>
                           <div class="skills">
                                <strong class="color-base-dark font-400">Skills</strong>
                                <div class="btn-skill">HTML5</div>
                                <div class="btn-skill">CSS3</div>
                                <div class="btn-skill">Javascript</div>
                                <div class="btn-skill">Angular JS</div>
                           </div>
                           <p class="color-gray"><strong class="color-base-dark font-400">Início</strong>20/01/2019</p>
                           <p class="color-gray"><strong class="color-base-dark font-400">Fim</strong>10/06/2019</p>
                        </div>
                    </div>

                    <div class="step adress">
                        <div class="experience">
                            <div class="title-experience">
                                <h4 class="color-base-dark font-700">JR Comunicação</h4>
                            </div>
                           <div class="skills">
                                <strong class="color-base-dark font-400">Skills</strong>
                                <div class="btn-skill">HTML5</div>
                                <div class="btn-skill">CSS3</div>
                                <div class="btn-skill">Wordpress</div>
                           </div>
                           <p class="color-gray"><strong class="color-base-dark font-400">Início</strong>20/01/2019</p>
                           <p class="color-gray"><strong class="color-base-dark font-400">Fim</strong>10/06/2019</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>