/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

@import './sass/base';
@import './sass/buttons';


html,
body {
    height: 100%;
    background: #f4f6f8;
}